<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tutorial Flask: Miniblog</title>
</head>
<body>
    <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">Host</th>
            <th scope="col">Port</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
    {% for key,value in data.items() %}
      <tr>
        <th scope="row">{{ value['host'] }}</th>
        <td>{{ value['port'] }}</td>
        <td>{{ value['check'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
</body>
</html>